/*FOLDER 2x3*/

.folder__2x3{
    width: 254px;
    height: 210px;
    margin-top: 50px;
    margin-left: 400px;   
    color: white;
    float: left;
    position: absolute;
}

.folder__2x3__background{
    width: 254px;
    height: 210px;
    background-color: #4d648d;
    border-color: #283655;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    opacity: 0.65;
}

.folder__2x3__title{
    position: absolute;
    margin-left: 105px;
    margin-top: -205px;
    font-size: 14px;
}

.folder__2x3__divider{
    width: 254px;
    height: 2px;
    background-color: #283655;
    position: absolute;
    margin-top: -180px;
    margin-left: 2px;
}

.folder__2x3__exit{
    height: 16px;
    width: 25px;
    background-color: #4d648d;
    border-color: #283655;
    border-top-right-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #283655;
}

