body{
    font-family: 'Open Sans';
}

/*ICON*/

.icon{
    width: 64px;
    height: 84px;
    
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    position: absolute;
      
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;
}

.icon__inner{
    height: 60px;
    width: 60px;
    background-color: #4d648d;
    
    border-radius: 200px;
    border-color: #283655;
    border-width: 4px;
    border-style: solid;

    transform: scale(1); 
    transition: all 0.3s ease-in;
}

.icon__initial{
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    margin-top: 8px;
    
    color: white;
}

.icon__name{
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.icon__inner:hover{
    cursor: pointer;
    transform: scale(1.1); 
    transition: all 0.4s ease-in;
}

    

